<div class="rdio-display" (dblclick)="toggleFullscreen.emit()">
    <div class="row">
        <div *ngIf="linked && showListenersCount">
            <span style="color: rgb(0, 102, 255); font-weight: bold;">
                <span class="material-symbols-outlined">
                    cell_tower
                </span>
            </span>
        </div>
        <div *ngIf="!linked">
            <span style="color: red; font-weight: bold;">
                <span class="material-symbols-outlined">
                    signal_disconnected
                </span>
            </span>
        </div>
        <div>
            <span [ngStyle]="{
                                'color': callQueue == 0 ? 'white' : 
                                        callQueue > 0 && callQueue <= 10 ? 'green' : 
                                        callQueue > 10 && callQueue <= 30 ? 'orange' : 
                                        callQueue > 30 && callQueue <= 50 ? 'darkorange' : 
                                        'red',
                                'font-weight': 'bold'
                            }" [ngClass]="{ 'flash': callQueue > 50 }">
                QUEUE: {{ callQueue }}
            </span>
        </div>
    </div>
    <div class="row">
        <div>
            <span>{{ callSystem }}</span>
        </div>
        <div>
            <span>{{ callTag }}</span>
        </div>
    </div>
    <div class="row">
        <div>
            <span>{{ callTalkgroup }}</span>
        </div>
        <div>
            <span>{{ callDate | date:'MM/dd' }}</span>
            <span>{{ callProgress | date:timeFormat }}</span>
        </div>
    </div>

    <div class="row big">
        <span></span>
    </div>

    <div class="row big">
        <span>
            <!-- (H) is always blue if holdTg is true -->
            <span [style.color]="'rgb(0, 102, 255)'">
                {{ holdTg ? '(H) ' : '' }}
            </span>
    
            <!-- callTalkgroupName turns green when LED is on, and otherwise respects holdTg -->
            <span 
                *ngIf="ledStyle.includes('on'); else defaultStyle" 
                [style.color]="'green'">
                {{ callTalkgroupName }}
            </span>
    
            <ng-template #defaultStyle>
                <span [style.color]="holdTg ? 'rgb(0, 102, 255)' : 'inherit'">
                    {{ callTalkgroupName }}
                </span>
            </ng-template>
        </span>
    </div>

    <div class="row uid">
        <span *ngIf="callUnit">{{ callUnit }}</span>
    </div>

    <div class="row big">
        <span></span>
    </div>

    <div class="row">
        <div>
            <span>FREQ: {{ callFrequency || 0 }}</span>
        </div>
        <div>
            <span>TGID: {{ callTalkgroupId || 0 }}</span>
        </div>
    </div>

    <div class="row right small">
        <div *ngIf="tempAvoid">
            <span class="flag" [ngClass]="{ flaged: avoided || patched }">&#x23f2;&#xFE0E; {{ tempAvoid }}M</span>
        </div>
        <div>
            <span class="flag" [ngClass]="{ flaged: avoided }">AVOID</span>
        </div>
        <div>
            <span class="flag" [ngClass]="{ flaged: patched }">PATCH</span>
        </div>
    </div>
    <div class="wrapper">
        <div class="auth" [ngClass]="{ visible: auth }">
            <form class="mat-elevation-z8" autocomplete="off" [formGroup]="authForm" (ngSubmit)="authenticate()">
                <mat-form-field>
                    <input #password matInput type="password" autocomplete="off" formControlName="password"
                        placeholder="Unlock code" (blur)="authFocus()">
                    <mat-error *ngIf="authForm.get('password')?.hasError('expired')">
                        This unlock code has expired
                    </mat-error>
                    <mat-error *ngIf="authForm.get('password')?.hasError('tooMany')">
                        Too many connections
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <table class="history">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let previousCall of callHistory"
                    [ngClass]="{ 'replaying': previousCall?.id !== null && previousCall?.id === call?.id}">
                    <td>{{ previousCall?.dateTime | date:timeFormat }}</td>
                    <td>{{ previousCall?.talkgroupData?.name || previousCall?.frequency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="rdio-control">
    <div class="row">
        <button class="rdio-button" (click)="livefeed()"
            [ngClass]="{ off: livefeedOffline && !playbackMode, on: livefeedOnline, partial: playbackMode }">
            <span *ngIf="livefeedOffline; else showStop">START</span>
            <ng-template #showStop>STOP</ng-template>
        </button>
        <div class="spacer"></div>
        <button class="rdio-button" (click)="skip()">SKIP</button>
        <div class="spacer"></div>
        <button class="rdio-button" (click)="holdTalkgroup()" [ngClass]="{ off: !holdTg, on: holdTg }">
            {{ holdTg ? 'TG HELD' : 'HOLD TG' }}
        </button>
    </div>
    <div class="row">
        <button class="rdio-button" (click)="avoid()">AVOID</button>
        <div class="spacer"></div>
        <button class="rdio-button" (click)="showSearchPanel()">REPLAY</button>
        <div class="spacer"></div>
        <button class="rdio-button" (click)="showSelectPanel()">T-GROUPS</button>
    </div>
</div>
